<aside class="sidebar">
  <div class="sidebar-inner">
    {% if site.avatar_image != "" %}
    <img class="avatar" src="{{ site.avatar_image | relative_url }}" alt="{{ site.author }}">
    {% else %}
    <div class="avatar avatar-initial" aria-hidden="true">{{ site.author | slice: 0, 1 | upcase }}</div>
    {% endif %}

    <h2 class="sidebar-name">{{ site.author }}</h2>
    {% if site.author_bio != "" %}<p class="sidebar-bio">{{ site.author_bio }}</p>{% endif %}

    <ul class="sidebar-links">
      {% if site.email != "" %}<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>{% endif %}
      {% if site.twitter_username != "" %}
      {% assign twitter_url = "https://twitter.com/" | append: site.twitter_username %}
      <li><a href="{{ twitter_url }}" target="_blank" rel="noopener">{{ twitter_url | remove: "https://" }}</a></li>
      {% endif %}
      {% if site.linkedin_username != "" %}
      {% assign linkedin_url = "https://www.linkedin.com/in/" | append: site.linkedin_username %}
      <li><a href="{{ linkedin_url }}" target="_blank" rel="noopener">{{ linkedin_url | remove: "https://" }}</a></li>
      {% endif %}
      {% if site.github_username != "" %}
      {% assign github_url = "https://github.com/" | append: site.github_username %}
      <li><a href="{{ github_url }}" target="_blank" rel="noopener">{{ github_url | remove: "https://" }}</a></li>
      {% endif %}
      {% if site.coffee_url != "" %}<li><a href="{{ site.coffee_url }}" target="_blank" rel="noopener">{{ site.coffee_url | remove: "https://" | remove: "http://" }}</a></li>{% endif %}
    </ul>
  </div>
</aside>
